body{
	background-image: url("../images/background.jpg");
}
img{
	width: 200px;
	height: 200px;
	margin: 10px;
	border: 5px solid gray;

}
caption{
	position: relative;
	top: 5%;
}
.player{
	border: 5px solid green;
}
.enemy{
	border: 5px solid red;
}